/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font-family for the entire page */
body {
  font-family: 'Roboto', sans-serif;
}

/* Header section styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

/* Horizontal line styles */
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column; /* Set this to make it a column */
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

/* Main content styles */
main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #CCC;
  }
  
  .video-section:first_child {
    border-top: none;
  }
  
  .video-container{
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail {
    position: relative;
    display: flex;
  }
  
  .thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
  }

  .thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
  }

  .video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
  }

  .video-details{
    display: flex;
    flex-direction: column;
  }

  .video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
  }

  .video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;
  }

  .video-channel-name:hover{
    color: #111;
  }

  .video-channel-name,.vide-metadata{
    color: #555;
  }

/* Search section styles */
.search {
  display: flex;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}

/* Sidebar styles */
.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

/* Styles for the left section in the header */
.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

/* Styles for the search input */
.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

/* Styles for the search input when focused */
input:focus {
  outline: none;
  border: 1px solid #ddd;
}

/* Styles for the search button */
.search button {
  height: 100%;
  width: 60px;
  border: none;
}

/* Styles for the microphone icon */
.mic {
  margin-top: 10px;
}

/* Styles for material icons */
.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}

/* Media query for hiding the sidebar on small screens */
 @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search {
      display: none;
    }
}

  @media (max-width: 900px) {
    .search input {
      width: 25rem;
    }
  }
